* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

/* font-family: "Work Sans", sans-serif; */
/*  font-family: "Space Mono", monospace; */

body {
   background-color: #2b2b2b;
   color: #fff;
}
section {
    padding: 80px 0;
}

.section-tittle {
    font-size: 38px;
    font-weight: 600;
}
.section-subtitle {
    font-size: 22px;
}
.header {
    padding: 20px 0;
}
.container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container-max {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
}
.menu {
    gap: 50px;
    display: flex;
    align-items: center;

    a {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
        color: #fff;
        text-decoration: none;
    }
}
.btn1 {
    background-color: #A259FF;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    gap: 12px;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;

    border: none ;
}
.btn2 {
    background-color: transparent;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    gap: 12px;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;

    border: 1px solid #a259ff ;
}

.hero {
}
.container {
}
.hero__wrap {
    display: flex;
    gap: 30px;
}
.hero__left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: start;
   
    h1 {
        font-size: 72px;
        line-height: 1.2;
        text-transform: capitalize;
    }

    p {
        font-size: 22px;
    }
}

.hero__inner {
    display: flex;
    gap: 30px;
    
    align-items: start;
}


.hero__box {
}
.hero__right {
    border-radius: 20px;
    flex-direction: column;
}
.hero__img {
    border-radius: 20px 20px 0 0;
}
.hero__content {
    background-color: #3b3b3b;
    padding: 22px 20px;

    p{
        display: flex;
        align-items: center;
        
    }
}


/* TREND SECTION */

.trend {

}
.container {
}
.section-title {
}
.section-subtitle {
    padding-top: 10px;
}
.trend__wrapper {
    padding-top: 80px;
    gap: 30px;
    display: flex;
}
.trend__card {
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.trend__big-img {
}
.trend__box {
    gap: 15px;
    display: flex;
}
.trend__card-name {
}
.trend__card-author {
    display: flex;
    align-items: center;
    gap: 12px;
}

.top {
}
.container {
}
.top__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.top__info-box {
}
.section-title {
}
.section-subtitle {
}

.top__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    margin-top: 60px;
}
.top__card {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    max-width: 200px;
    width: 100%;    

    h5 {
        position: absolute;
        background-color: #2b2b2b;

    }
}

/* .NFT{
width: 100%;
height: auto;
display: block;
} */

.full-width-image {
    width: 100%; 
    display: block; 
  }



.work__cards{
    margin-top: 20px;
.card__head{
    padding-bottom: 48px;
    /* margin-top: 30px; */
} 

.all_cards{
    gap: 30px;
    display: flex;
}

.cards_1{
    width: 330px;
    align-items:center;
    text-align: center;
    background-color:#3b3b3b;
    border-radius:20px;
    /* padding-top: 30px; */
}

.cards_2{
    width: 330px;
    align-items:center;
    text-align: center;
    background-color:#3b3b3b;
    border-radius:20px;
    /* padding-top: 30px; */
}

.cards_3{
    width: 330px;
    align-items:center;
    text-align: center;
    background-color:#3b3b3b;
    border-radius:20px;
    /* padding-top: 30px; */
}
}


.cards__brow{
.brow__card1{
.brush{
    filter: blur(5px);
    transition: 1s;
}
.brush:hover{
    filter: blur(0);
}
}

.brush__kit{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 70px;
}



}



/* discover section */

.discover {
}
.discover__top {
    display: flex;
    justify-content: space-between;
}
.discover__cards {
    display: flex;
    gap: 30px;

    margin-top: 60px;
}
.discover__card {
    background-color: #3b3b3b;
    border-radius: 25px;
}
.discover__card-img {
}
.discover__card-box {
    padding: 20px 30px 25px;
}
.discover__card-name {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 5px;
}
.discover__card-price {
    justify-content: space-between;
    display: flex;
    margin-top: 25px;

    p {
        opacity: 0.4;
        margin-bottom: 8px;
    }
}


/* join section */

.join {
}
.join__wrapper {
    background-color: #3b3b3b;
    padding: 60px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 80px;
}
.join__img {
}
.join__box {

    form {
        display: flex;
        margin-top: 40px;

        input {
            padding: 0 20px;
            border: none;
            border-radius: 20px 0 0 20px;
        }

        button {
            position: relative;
            left: -20px;
        }
    }
}

/* footer */

.footer__box {
    form {
        display: flex;
        margin-top: 40px;

        input {
            padding: 0 20px;
            border: none;
            border-radius: 20px 0 0 20px;
            gap: 80px;
        }

        button {
            position: relative;
            left: -20px;
        }
    }
}


.footer__wrapper {
    display: flex;
    gap: 40px;
    background-color: #3b3b3b;
}
.nft__copyright {
    background-color: #3b3b3b;
}